# ignore common virtualenv folders
venv/
.venv/
env/

# ignore the pychache
/__pycache__/
__pycache__/

# ignore the models folder
models/

# ignore the images folder
images/

# ignore the dataset images
dataset/
abstracts/
filters/
maps/
medical/
texts/

# ignore the color images
color images/

