# ignore dotenv files
.env
*.env

# ignore common virtualenv folders
venv/
.venv/
env/

# ignore the pychache
/__pycache__/
__pycache__/

# ignore the models folder
models/

# ignore the images folder
#images/
